/* ==UserStyle==
@name        txti.es night mode
@description A light-on-dark theme for txti.es.
==/UserStyle== */

/* Issues and updates: https://codeberg.org/locrian/userstyles */
 
@-moz-document domain("txti.es") { 
 
  body {
  background: #000;
  color: #ccc;
  }
  
  a {
  color: #A8C5F3; 
  }
  
  a:visited {
  color: #E5A8F3;
  }
  
  a:hover, a:focus {
  color: #F3A8A8;
  }  
  
  div {
  background: #FF002D !important;
  color: #fff;
  }
  
  div a {
  color: #000 !important;
  }  
  
  pre {
  background: #333;
  padding: 2px;
  }
  
  textarea {
  background: #222;
  color: #ccc;
  }
  
  input.text-input {
  background: #222;
  color: #ccc;
  }
  
  input#submit, input#increase_form_level {
  background: #000;
  color: #fff;
  }
  
  label.important {
  background: #f00;
  color: #fff;
  padding: 1px 5px 1px 5px;
  }
  
}
