/* ==UserStyle==
@name        txti.es grey
@description A low-contrast grey theme for txti.es.
==/UserStyle== */

/* Issues and updates: https://codeberg.org/locrian/userstyles */
 
@-moz-document domain("txti.es") { 
 
  body {
  background: #aaa;
  color: #000;
  }
  
  a {
  color: #005; 
  }
  
  a:visited {
  color: #505;
  }
  
  a:hover, a:focus {
  color: #500;
  }  
  
  div {
  background: #888 !important;
  }
  
  pre {
  background: #ccc;
  padding: 2px;
  }
  
  hr {
  color: #222;
  }
  
  textarea {
  background: #ccc;
  }
  
  input.text-input {
  background: #ddd;
  color: #222;
  }
  
  label.important {
  background: #000;
  color: #eee;
  padding: 1px 5px 1px 5px;
  }
  
}
