/* ==UserStyle==
@name        Read the Kanji - Hide English translation until mouseover
@description Hides English translation until you put your mouse over it.
@version     1.0
@namespace   https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document url-prefix("https://www.readthekanji.com/") {

p#en {
	background-color:#fff !important; 
    color:#fff !important; 
    border:1px dotted #000 !important; 
    margin:5px !important; 
    padding:5px !important;
}

p#en:hover {
    color:#555 !important;
}
}