/* ==UserStyle==
@name        Readable Project Gutenberg
@description Adds margins to books on Project Gutenberg.
@version     1.0
@namespace   https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document domain("gutenberg.org") {

p[id^="id"] {
   max-width:80%;
   margin-left:auto;
   margin-right:auto;
}

h1[id^="id"], h2[id^="id"], h3[id^="id"], h4[id^="id"], h5[id^="id"] {
   text-align:center;
}

}