/* ==UserStyle==
@name        Tweetdeck Rainbow
@description A rainbow theme for Tweetdeck, meant for use with the light theme.
==/UserStyle== */

/* Modified from TweetDeck Metro Light, with thanks to swxxii. 
Pull requests not accepted. If you have issues, please make your own fork. 
https://codeberg.org/locrian/userstyles */

@-moz-document domain("tweetdeck.twitter.com")
{

  body, #container
  {
    font-family: 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
    background: #fff !important;
    text-shadow: none;
  }

  .column
  {
    width: 200px !important;
    box-shadow: none !important;
    border-right: 1px solid #444;
    margin: 0;
  }

  .app-columns
  {
    background: #fff;
    padding: 0;
  }

  *
  {
    border-radius: 0;
  }

  h1, h1 *, .attribution
  {
    font-size: 20px !important;
    color: #fff;
  }

  .column-type-icon
  {
    color: #fff;
  }

  .stream-item
  {
    border-bottom: 1px solid #444 !important;
    color: #444;
  }

  .column-options
  {
    background: #fff !important;
  }

  .column-settings-link,
.is-options-open .column-settings-link
  {
    background: #fff;
  }

  .column-settings-link:hover
  {
    background: transparent;
    border: 1px solid transparent;
  }

  .column-header:hover .column-settings-link, .column-header-link
  {
    background: transparent;
    border: 1px solid transparent;
  }

  .is-options-open .column-settings-link .icon
  {
    background: none !important;
    color: #999 !important;
    border: 1px solid transparent;
  }

  .stream-item
  {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .stream-item .icon-reply,
.stream-item .icon-retweet,
.stream-item .icon-favorite,
.stream-item .icon-more
  {
    color: #999;
  }

  .stream-item .icon-small-context
  {
    color: #999;
  }

  .btn-with-icon-small
  {
    padding: 4px 10px !important;
  }

  .menu-button
  {
    padding-top: 3px !important;
  }

  .app-search-input
  {
    box-shadow: none !important;
  }

  .column-title,.column-title .attribution
  {
    color: #444 !important;
  }

  .column-header-link i
  {
    color: #fff;
  }

  .column-header-link i:hover
  {
    color: #444;
  }

  .column-number
  {
    color: #444 !important;
  }

  .tweet-avatar
  {
    background: transparent;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
  }

  .avatar
  {
    background: transparent;
    -moz-border-radius: 37px;
    border-radius: 37px;
    -webkit-border-radius: 37px;
  }

  .prf-img
  {
    background: transparent;
  }

  .is-selected-tweet
  {
    background: #fff !important;
  }

/* FIRST COLUMN */

  section:nth-child(1) .column-header
  {
    background: #ff1008 !important;
  }

  .column-nav-item:nth-child(1) .column-nav-link .icon
  {
    color: #ff1008;
  }

  section:nth-child(1) .column-scroller
  {
    background: #fdd;
  }

/* SECOND COLUMN */

  section:nth-child(2) .column-header
  {
    background: #ff9f10 !important;
  }

  .column-nav-item:nth-child(2) .column-nav-link .icon
  {
    color: #ff9f10;
  }

  section:nth-child(2) .column-scroller
  {
    background: #fed;
  }

/* THIRD COLUMN */

  section:nth-child(3) .column-header
  {
    background: #d9d720 !important;
  }

  .column-nav-item:nth-child(3) .column-nav-link .icon
  {
    color: #d9d720;
  }

  section:nth-child(3) .column-scroller
  {
    background: #ffe;
  }

/* FOURTH COLUMN */

  section:nth-child(4) .column-header
  {
    background: #20af40 !important;
  }

  .column-nav-item:nth-child(4) .column-nav-link .icon
  {
    color: #20af40;
  }

  section:nth-child(4) .column-scroller
  {
    background: #efe;
  }

/* FIFTH COLUMN */

  section:nth-child(5) .column-header
  {
    background: #1040e7 !important;
  }

  .column-nav-item:nth-child(5) .column-nav-link .icon
  {
    color: #1040e7;
  }

  section:nth-child(5) .column-scroller
  {
    background: #eef;
  }

/* SIXTH COLUMN */

  section:nth-child(6) .column-header
  {
    background: #9f10bf !important;
  }

  .column-nav-item:nth-child(6) .column-nav-link .icon
  {
    color: #9f10bf;
  }

  section:nth-child(6) .column-scroller
  {
    background: #fef;
  }

/* SEVENTH COLUMN */

  section:nth-child(7) .column-header
  {
    background: #f39 !important;
  }

  .column-nav-item:nth-child(7) .column-nav-link .icon
  {
    color: #f39;
  }

  section:nth-child(7) .column-scroller
  {
    background: #fde;
  }
}
