/* For use with the Vier theme. Should work on other Friendica instances too. */

@-moz-document domain("nerdica.net") {

body {
	background: #333;
}

.fbrowser.image a img, 
.fbrowser.image .btn-link img {
	height: unset !important;
	width: 200px !important;
}

div.tread-wrapper,
div.wall-item-container, 
aside,
right_aside,
input,
textarea {
	background-color: #DDD !important;
}

div#newmember_widget {
	display: none;
}

div.wall-item-body {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 20px !important;
	color: #000;
}

div.contact-block-textdiv {
	height: 50px;
	width: 50px;
}

.wall-item-body img {
	max-height: 300px;
	margin: 1px;
}

.wall-item-container.comment.shiny,
ul.tabs,
section,
form#profile-jot-form {
	background-color: #CCC !important;
}

section.__ns__pop2top,
div.__ns__pop2top {
	z-index: unset !important;
}

ul.tabs a {
color: #000;
background-color: #EEE;
padding: 2px;
}

ul.tabs a:hover {
	color: #000;
	background-color: #DDD;
}

.content-filter-button {
	font-size: 0.8em !important;
	line-height: 1em !important;
	padding: 5px;
	height: unset;
	background-color: #777777;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #000000;
}

.content-filter-button:hover {
	background-color: #333333;
}

div.wall-item-bottom a,
div.wall-item-actions-author a,
span.wall-item-network {
	color: #000 !important;
}

}