/* ==UserStyle==
@name        Intfiction.org user notes
@description Allows leaving private notes on forum users
@version     1.0
@namespace https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document domain("intfiction.org") {

span.username a::after,
span.full-name a::after {
    display: block;
}

/* This looks better under a display name, but some users don't have them, so 
swap out span.full-name for span.username in those cases. */

/* Colors for a user who's a jerk */

span.first.full-name a[data-user-card="FIND THIS IN INSPECT ELEMENT"]::after {
    background-color: #f00;
    color: #fff;
    padding: 0 2px;
    border: 2px dashed #ff0;
    content: "CONTENT OF NOTE";
}

/* Somewhat more neutral colors */

span.first.full-name a[data-user-card="FIND THIS IN INSPECT ELEMENT"]::after {
    background-color: #ff0;
    color: #000;
    padding: 0 2px;
    border: 2px dashed #000;
    content: "CONTENT OF NOTE";
}

}