/* ==UserStyle==
@name        Hide PM in popup
@description Blocks "message user" box in the popup that appears when you click on a person's name.
@version     1.0
@namespace https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document domain("discord.com") {

  div.footer-1fjuF6 {
    display: none;
  }

}