/* ==UserStyle==
@name        20020 - Satellite readability
@description Improves readability of Ten, Nine, and Juice's dialogue in SBNation's 20020
@version     1.0
@namespace   https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document url-prefix("https://www.sbnation.com/secret-base/21410129/20020/") {
  
.ten, .juice, .nine {
  line-height: 130%;
}

.ten span, .juice span, .nine span {
  padding: 0.1em 0.3em;
  display: block;
}
}