/* ==UserStyle==
@name        Dreamwidth - Fade out inactive icons
@description Fades out inactive icons when you're looking at your own icons page.
@version     1.0
@namespace   https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document domain("dreamwidth.org") {

.icon-container .icon.icon-inactive img {
	opacity: 0.3;
	}

}
