/* ==UserStyle==
@name        Dreamwidth - Return of Shifty
@description Reverts the shifty-eyed subject line emote to its original form.
@version     1.0
@namespace   https://codeberg.org/locrian/userstyles
==/UserStyle== */

/* Please open an issue if Imgur removes the replacement image! */

@-moz-document domain("dreamwidth.org") {

img[src*="https://www.dreamwidth.org/img/talk/sm10_eyes.gif"] { 
	width: 0 !important;
	height: 0 !important;
	background: none !important;
	background-repeat: no-repeat !important;
	padding: 12px 24px 0px 0px !important;
	vertical-align: text-bottom !important;
	background-image: url(data:image/gif;base64,R0lGODlhGAAMAPEAAP///6ysrFVVVQAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQNCgABACwAAAAAGAAMAEECQIyHaLupPUAEdLA4qQxZOstpnhOK1WWeWPUd4gdyJHccc/PG+OvmWK9JeHwJ4OgjYf1CGSEIkXygVjqGVWpdFAAAIfkEDQoAAQAsAAAAABgADABBAj+Mh2i7qQ1iHGAwKqlySNbDeRbmfVD5caSpTmbAHTLsMHBp2V12VDt/S+BaQOJE89P0hBXfspm7aJy2Ks3KKAAAOw==) !important; 
	}
}
