/* ==UserStyle==
@namemozz.us Gemini portal - solarized light
@description A theme based on Ethan Schoonover's Solarized colorscheme.
@version 1.01
@namespace https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document domain("portal.mozz.us") {

body {
    background: #eee8d5;
    color: #002b36;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div {
    background: #fdf6e3;
    padding: 1em 0.5em;
    margin: -1em 0;
}

input {
    background: #eee8d5;
    color: #002b36;
    border-color: #93a1a1;
}

table, td {
    border-color: #93a1a1;
}

a {
    color: #268bd2;
}

a:active {
    color: #dc322f;
}

a:visited {
    color: #6c71c4;
}
}