/* ==UserStyle==
@namemozz.us Gemini portal - solarized dark
@description A theme based on Ethan Schoonover's Solarized colorscheme.
@version 1.01
@namespace https://codeberg.org/locrian/userstyles
==/UserStyle== */

@-moz-document domain("portal.mozz.us") {

body {
    background: #002b36;
    color: #fdf6e3;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div {
    background: #073642;
    padding: 1em 0.5em;
    margin: -1em 0;
}

input {
    background: #002b36;
    color: #fdf6e3;
    border-color: #586e75;
}

table, td {
    border-color: #586e75;
}

a {
    color: #268bd2;
}

a:active {
    color: #dc322f;
}

a:visited {
    color: #6c71c4;
}
}