/* ==UserStyle==
@name        mozz.us Gemini portal - Violet
@description A violet-purple theme.
@version     1.0
@namespace   https://codeberg.org/locrian/userstyles
@license     CC-0
==/UserStyle== */
 
@-moz-document domain("portal.mozz.us") {
body {
    background: #1b0b33;
    color: #fafbf7;
	font-size: 1.1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
 
div {
    background: #2f1f62;
    padding: 1em 0.5em;
    margin: -1em 0;
  }
 
input {
    background: #715ba5;
    color: #fafbf7;
    border-color: #45396e;
  }
 
table, td {
    border-color: #45396e;
  }
 
a {
    color: #dbcffc;
  }
 
a:active {
    color: #cffcdb;
  }
 
a:visited {
    color: #fcdbcf;
  }
}